.nse-card{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 100vh;
    width: 30vw;
    margin-top: 10vh;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
}
.nse-card img{
    height: 40vh;
    width: 40vh;
    margin: 0 auto;
    margin-top: 10vh;
    border-radius: 7px;
}
article{
    margin-top: 10vh;
    font-size: medium;
}