<article class="bse-card">
    <img src="../../assets/bombay-stock-exchange-1-638.jpg" alt="bombay stock exchange photo">
    <article>
        Exchange Name: {{bseSummary['fullExchangeName']}}
        <br>
        Market Price : {{bseSummary['regularMarketPrice'].fmt}}
        <br>
        Previous Close : {{bseSummary['regularMarketPreviousClose'].fmt}}
        <br>
        Market Time: {{bseSummary['regularMarketTime'].fmt}}
        <br>
        Percent Change: {{bseSummary['regularMarketChangePercent'].fmt}}
    </article>
</article>