<section class="main-area">
    <section>
        Market Cap: {{companyPrice.marketCap.fmt}}
        <br>
        Previous Close: {{companyPrice.regularMarketPreviousClose.fmt}}
        <br>
        Market Open: {{companyPrice.regularMarketOpen.fmt}}
        <br>
        Market Change Percent: {{companyPrice.regularMarketChangePercent.fmt}}
    </section>
    <section>
        Current Price: {{companyFin.currentPrice.fmt}}
        <br>
        Revenue Growth: {{companyFin.revenueGrowth.fmt}}
        <br>
        Return on Assets: {{companyFin.returnOnAssets.fmt}}
    </section>
</section>